@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600');

/* Universal settings */

html {
	margin: auto;
	overflow-y: scroll;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "liga" on;
}
div[class^="col"] {
	/* clears automatic padding given by bootstrap */
	padding: 0px;
}
img {
	width: 100%;
}
a {
	color: green;
}
.section {
	height: 100%;
}

/* Homepage */

.landingImg {
	height: 100%;
}
.socialMedia {
	margin-top: 15px;
}
#social {
	text-decoration: none;
	padding: 5px;
}
a svg {
	transition: .3s;
	width: 30px;
	fill: black;
}
#insta:hover {
	fill: #e1306c;
}
#git:hover {
	fill: #6cc644;
}
#youtube:hover {
	fill: #bb0000
}

/* Navigation */

.nav_list {
	/* Removes dots from list */
	list-style-type: none;
	margin-left: -5px;
	padding: 0;
	text-decoration: none;
}
li a {
	text-decoration: none;
	transition: color .5s;
}
li a:hover {
	color: green;
	text-decoration: none;
}
.nav_link {
	color: #777777;
	transition: color .3s;
}
.nav_link.active {
	font-family: 'Source Code Pro', bold;
	color: green;
}

/* Body */

.page {
	height: 100%;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	color: 333333;
}
.pageHeader h1 {
	padding-bottom: 10px;
}
h1 {
	font-size: 44px;
	font-family: 'Source Sans Pro';
	font-weight: 700;
	color: black;
}
h2 {
	font-size: 24px;
	font-family: 'Source Sans Pro';
	font-weight: 700;
	color: black;
}
p {
	font-size: 12px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	color: #000000;
}

/* Footer */

footer {
	padding-bottom: 20px;
	text-align: center;
}

/* Photoswipe */

.my-gallery figcaption {
	display: none;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 48000px) {
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.right {
		position: absolute;
		text-align: left;
		height: 100%;
		width: 50%;
		background-color: #ffffff;
		left: 50%;
		top: 0%;
	}
	.right>.content {
		margin-right: 40%;
	}
	.rightPhoto {
		background-repeat: no-repeat !important;
		background-size: 50% !important;
		background-position: right !important;
	}
	.left {
		position: absolute;
		text-align: right;
		height: 100%;
		width: 50%;
		background-color: #ffffff;
		top: 0%;
	}
	.left>.content {
		margin-left: 40%;
	}
	.leftPhoto {
		background-repeat: no-repeat !important;
		background-size: 50% !important;
		background-position: left !important;
	}
	.content {
		position: absolute;
		margin: 30px;
		top: 50%;
		transform: translateY(-50%);
		)
	}
	h1 {
		font-size: 60px;
		margin: 0px;
		padding-bottom: 5px;
	}
	p {
		font-size: 12px;
	}
	h2 {
		font-size: 32px;
	}
	hr {
		margin-top: 40px;
		margin-bottom: 20px;
		margin-left: 0;
		border-top-width: 3px;
		border-color: rgb(52, 52, 52);
		width: 100px;
	}
	#landingTitle {
		margin-bottom: 0px;
		padding-left: 12.5px;
		padding-right: 12.5px;
		padding-bottom: 0px;
		padding-top: 10px;
	}
	.homenav {
		position: absolute;
		width: 50%;
		height: 100%;
		background-color: #ffffff;
		left: 50%;
		top: 0%;
	}
	.navContent {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.homenav li {
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		font-size: 18px;
		display: inline-block;
	}
	.nav {
		position: fixed;
		text-align: right;
		margin-left: 5px;
	}
	#logo {
		width: 60px;
		margin-bottom: 5px;
	}
	.homenav #logo {
		padding-bottom: 10px;
	}
	#intro {
		margin-left: 12.5px;
		margin-right: 12.5px;
	}
	.tile {
		display: inline-block;
		padding: 12.5px;
	}
	.my-gallery figure {
		padding: 12.5px;
	}
	.videoWrapper iframe {}
	.codeImage {
		padding: 12.5px;
	}
	.bio {
		text-align: left;
		padding-left: 25px;
	}
	#meWrapper img {
		max-width: 300px;
	}
	footer {
		padding: 50px 0;
		font-size: 12;
	}
}

/* Mobile */

@media only screen and (max-width: 992px) {
	html {
		width: auto;
	}
	.homenav {
		position: absolute;
		background: #ffffff;
		width: 90%;
		height: 90%;
		top: 5%;
		left: 5%;
		border-radius: 8px;
	}
	.navContent {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		!important text-align: center;
	}
	.nav {
		text-align: center;
	}
	#logo {
		width: 200px;
		padding-top: 30px;
		margin-bottom: 50px;
	}
	ul a {
		font-size: 50px;
		list-style-type: none;
		display: inline-block;
	}
	.left {
		position: absolute;
		background: #ffffff;
		width: 90%;
		height: 90%;
		left: 5%;
		top: 5%;
		padding-top: 80px;
		border-radius: 8px;
		z-index: 2;
	}
	.left>.content {
		margin: 0px;
	}
	.right {
		position: absolute;
		background: #ffffff;
		width: 90%;
		height: 90%;
		left: 5%;
		top: 5%;
		border-radius: 8px;
		z-index: 2;
	}
	.right>.content {
		margin: 0px;
	}
	.leftPhoto,
	.rightPhoto {
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}
	.content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	h1 {
		font-size: 120px;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}
	p {
		text-align: center;
		font-size: 34;
		padding: 60px;
	}
	h2 {
		font-size: 64px;
	}
	hr {
		margin-top: 40px;
		margin-bottom: 20px;
		border-top-width: 6px;
		border-color: rgb(52, 52, 52);
		width: 100px;
	}
	.pageContent img {
		padding: 20px;
	}
	li.nav_item {
		display: inline;
		font-size: 44px;
	}
	li.logo {
		padding-bottom: 10px;
	}
	.pageHeader {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	.tile {
		display: inline-block;
		padding: 15px;
	}
	#meWrapper {
		/* To add space when it's stacked */
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	#meWrapper img {
		max-width: 500px;
	}
	.my-gallery figure {
		padding-bottom: 15px;
		padding-top: 15px;
	}
	.videoWrapper iframe {
		padding: 15px;
	}
	.linkText {
		font-size: 64px;
	}
	footer {
		padding-top: 40px;
		font-size: 24;
	}
}

/* Extra Small Devices, Phones */


/*
@media only screen and (max-width: 480px) {
} 
*/
